<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <title>測驗你的職場吉(ㄅ)戰力</title>
  <meta name="description" content="測驗你的職場吉(ㄅ)戰力">
  <link rel="shortcut icon" href="../static/image/icon/giwawa_.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <link rel="stylesheet" href="/static/stylesheets/home.css">
  <link rel="stylesheet" href="/static/stylesheets/pretest.css">
  <link rel="stylesheet" href="/static/stylesheets/test.css">
  <link rel="stylesheet" href="/static/stylesheets/result.css">
  <link rel="stylesheet" href="/static/stylesheets/marquee.css">
  <meta property="og:url" content="https://dactw-dpu-ichibantest-2023.de.r.appspot.com" />
  <meta property="og:title" content="測驗你的職場吉(ㄅ)戰力" />
  <meta property="og:description" content="測驗你的職場吉(ㄅ)戰力" />
  <meta property="og:image" content="../static/image/icon/giwawa_.png" />
  <style>
    /**
    :::.                 ........                         
  .!^.^~~^:.         .^^^^^:::::^^^^:.                    
  !^  .^~~^^~^.    .~~:            .:~~:                  
  7.     .^~^:^~^.^!.                 .~~                 
  ^7        :~^::?~                     ^!                
    ~!         .~?~                       7:.::::^^^^^^^:  
    ^!.       .~?!^:                     7!^~~^~~~~^~:.:!:
      .!~     !7!^. ^!.                   ?^::........   ^!
        :!^  !&@@@#J ~^..  :^^.      :^^^!?.            :7.
          ^~:^#@@@@@!77~. .G@@&J :: !^.  :JP~        .:~~  
            ^~7P555YY7.     ?J^.  ~77   ^#@@5     .^~~:    
              .?^  !!     .^?^     ~J~. J@&P^:^^^^^:       
              :!  :~::^7~J^ !7^   .J^^!Y5!^^:..           
                7.   ..~!.: ^!.:~^^!^  ~7                  
                ~~     7.  ^?^:  ..   .7                   
                :7     !^:~!          7:                   
                ?      ::.          ^!                    
                !:                  7:                    
                !:                  7:                    
                ?.                  ~~                    
                ^7                 ! :?                    
                J.                 !^.?                    
              :~                  ^! ?             
                有吉有保佑。bug退散
     **/
  </style>
</head>

<body>
  <div class="main-bg pos-rlv">
      {{{ body }}}
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-3.6.0.js"><\/script>')</script>
    <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async"
      defer="defer"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {{!-- <script type="text/javascript">LineIt.loadButton();</script> --}}
    <script src="../../static/javascripts/popper.js"></script>
    <script src="../../static/javascripts/bootstrap.js"></script>
    <script src="../../static/javascripts/animation.js"></script>
    <script src="../../static/javascripts/model.js"></script>
    <script src="../../static/javascripts/view.js"></script>
    <script src="../../static/javascripts/controller.js"></script>
  <script src="../../static/javascripts/script.js"></script>

</body>

</html>