<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <title>測驗你的職場吉戰力</title>
  <meta name="description" content="測驗你的職場吉戰力 chihuahua">
  <link rel="shortcut icon" href="https://i.imgur.com/ePdFgZs.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <meta property="og:url" content="https://codepen.io/amilycc/pen/abQzqga" />
  <meta property="og:title" content="測驗你的職場吉戰力" />
  <meta property="og:description" content="測驗你的職場吉戰力 chihuahua" />
  <meta property="og:image" content="https://i.imgur.com/ePdFgZs.png" />
</head>

<body>
  <div class="main">
    {{{ body }}}
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
    <script src="../../static/javascripts/model.js"></script>
    <script src="../../static/javascripts/view.js"></script>
    <script src="../../static/javascripts/controller.js"></script>
  <script src="../../static/javascripts/script.js"></script>

</body>

</html>