<div class="pc-bg-animation pos-rlv">
  <div class="top_item_03 pos-abs">
    <img src="../static/image/pc_top/top_03.png">
  </div>
  <div class="top_item_07 pos-abs">
    <img src="../static/image/pc_top/top_07.png">
  </div>
  <div class="top_item_11 pos-abs">
    <img src="../static/image/pc_top/top_11.png">
  </div>
  <div class="top_item_14 pos-abs">
    <img src="../static/image/pc_top/top_14.png">
  </div>
  <div class="top_item_17 pos-abs">
    <img src="../static/image/pc_top/top_17.png">
  </div>
  <div class="top_item_22 pos-abs">
    <img src="../static/image/pc_top/top_22.png">
  </div>
  <div class="top_item_25 need-act pos-abs">
    <img src="../static/image/pc_top/top_25.png">
  </div>
  <div class="top_item_29 pos-abs">
    <img src="../static/image/pc_top/top_29.png">
  </div>
  <div class="top_item_32 pos-abs">
    <img src="../static/image/pc_top/top_32.png">
  </div>
  <div class="top_item_36 pos-abs">
    <img src="../static/image/pc_top/top_36.png">
  </div>
  <div class="top_item_39 pos-abs">
    <img src="../static/image/pc_top/top_39.png">
  </div>
</div>
<section class="marquee" id="marquee">
  <div class="top_item_44 need-act pos-rlv">
    <img src="../static/image/pc_top/top_44.png">
  </div>
  <div class="scroll pos-rlv">
    <div class="logo-wall">
      <div class="logo-wrapper">
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
      </div>
      <div class="logo-wrapper">
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
      </div>
    </div>
  </div>
</section>
<div class="main pos-abs">
  <div class="sp-bg pos-abs">
    <div class="top_icon_03 pos-abs">
      <img src="../static/image/sp_top/top_icon_03.png">
    </div>
    <div class="top_icon_05 pos-abs">
      <img src="../static/image/sp_top/top_icon_05.png">
    </div>
    <div class="top_icon_18 pos-abs">
      <img src="../static/image/sp_top/top_icon_18.png">
    </div>
  </div>
  <div class="main-container pos-abs" id="home-container">
    <div class="sptop_bk pos-abs">
      <img src="../static/image/sp_top/sptop_bk.png">
    </div>
    <div class="sp-bg-animation pos-abs">
      <div class="icon_03 pos-abs">
        <img src="../static/image/sp_top/icon_03.png">
      </div>
      <div class="icon_07 pos-abs">
        <img src="../static/image/sp_top/icon_07.png">
      </div>
      <div class="icon_11 pos-abs">
        <img src="../static/image/sp_top/icon_11.png">
      </div>
      <div class="icon_15 pos-abs">
        <img src="../static/image/sp_top/icon_15.png">
      </div>
      <div class="icon_19 pos-abs">
        <img src="../static/image/sp_top/icon_19.png">
      </div>
    </div>
    <div class="first-view pos-abs">
      <img src="../static/image/sp_top/sptop_03.png"> 
    </div>
    <a id="start-button" class="button-s pos-abs">
      <img src="../static/image/sp_top/sptop_07.png">
    </a>

  </div>
  <div class="main-container" id="pre-test-container">
    <form action="/" method="POST" id="pre-test-form" class="d-flex flex-column form-gp">
      <!-- 填資料欄位 -->
      <div class="input-gp pos-rlv input-required">
        <label class="input-ttl pos-abs" for="name"><img src="/static/image/p2/p2_03.png"></label>
        <input class="input-ctrl" placeholder="請輸入姓名" type="text" name="name"  id="name" required>
      </div>
      <div class="input-gp pos-rlv">
        <label class="input-ttl pos-abs" for="gender"><img src="/static/image/p2/p2_06.png"></label>
        <div class="input-ctrl">
          <select name="gender" id="gender">
            <option value="">請選擇</option>
            <option value="男">男</option>
            <option value="女">女</option>
            <option value="其他">其他</option>
          </select>
        </div>
      </div>
      <div class="input-gp pos-rlv">
        <label class="input-ttl pos-abs" for="age"><img src="/static/image/p2/p2_08.png"></label>
        <div class="input-ctrl">
          <input name="age" type="date" id="age">
        </div>
      </div>
      <div class="input-gp pos-rlv">
        <label class="input-ttl pos-abs" for="phone"><img src="/static/image/p2/p2_10.png"></label>
        <input name="phone" class="input-ctrl" placeholder="0987654321" maxlength="10" type="tel" id="phone">
      </div>
      <div class="input-gp pos-rlv">
        <label class="input-ttl pos-abs" for="email"><img src="/static/image/p2/p2_12.png"></label>
        <input name="email" class="input-ctrl" placeholder="123@email" type="email" id="email">
      </div>
      <input type="submit" class="button-c" id="continue-button" value="">
    </form>
  </div>

  <div class="main-container" id="question-container">
    <div class="time-line-gp">
      <div class="time-line" id="time-line"></div>
    </div>
    <div id="question" class="sub-title question">
      <img src="">
      <p></p>
    </div>
    <ul id="choices" class="choices">
      <!-- 選項按鈕 -->
    </ul>
  </div>
  <div class="main-container" id="result-container">
    <div class="main-container-item pos-rlv">
      <div class="result-gp progress-part pos-abs" id="progress-part">
        <img class="p4_03" src="../static/image/p4/p4_03.png">
        <div class="progress-bar-gp">
          <div class="progress-bar-item"></div>
        </div>
        <img class="p4_07" src="../static/image/p4/p4_07.png">
      </div>
      <div class="result-gp result-part pos-abs" id="result-part">
        <div class="info-container" id="result-info">
          <p id="result-name" class="result"></p>
          <img class="result-img" id="result-img">
          <h3 id="result-title" class="result-title"></h3>
          <div class="recommendation-gp pos-rlv">
            <img class="r-arrow pos-abs" src="../static/image/p5/p5_07.png">
            <p id="recommendation" class="recommendation"></p>
          </div>
          <div class="share-btn-gp">
            <img src="../static/image/p5/p5_10.png" alt="" class="share-txt">
            <div class="button-g">
              <!-- FB share START-->
              <div class="fb-share-button" data-href="https://dactw-dpu-ichibantest-2023.de.r.appspot.com/" data-layout="button"
                data-size="large">
                <a target="_blank" href="#" class="fb-xfbml-parse-ignore FB" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https://dactw-dpu-ichibantest-2023.de.r.appspot.com/', 'FB分享', config='height=500,width=500');" ></a>
              </div>
              <!-- FB share END -->
              <!-- LINE share START-->
              <a class="line-it-button" target="_blank" href="#" onclick="window.open('https://social-plugins.line.me/lineit/share?url=https://dactw-dpu-ichibantest-2023.de.r.appspot.com&text=吉刻了解你的職場吉戰力', 'line分享', config='height=500,width=500');" ></a>
              
              <!-- LINE share END-->
            </div>
          </div>
          <div class="button-g-s">
            <button id="restart-button" class="button-r"></button>
            <button id="save-image" class="button-r"></button>
            <button id="to-collect" class="button-r"></button>
          </div>
        </div>

        <div class="info-container" id="info-container">
          <img src="../static/image/p6/p6_03.png" alt="" class="p6_03">
          <img src="../static/image/p6/p6_06.png" alt="" class="p6_06 pos-abs">
          <img src="../static/image/p6/p6_10.png" alt="" class="p6_10">
          <p class="invite-u">
            註冊Oursong平台並追蹤我們，我們將送出限量隱藏版職場吉吉!
          </p>
          <div class="join-info">
            <h3>參與方式</h3>
            <p>
              <span class="info-sub-ttl">【活動名稱】</span>
              測你的職場吉戰力－送限量NFT！<br>
        
              <span class="info-sub-ttl">【活動期間】</span>
              2023/8/28(一)-9/3(日)<br>
        
              <span class="info-sub-ttl">【活動獎項】</span>
              限量職場吉娃娃NFT1個<br>
              ※4種造型搭配5種顏色共有20種樣式，每種樣式發行2個，總計限量40個<br>
        
              <span class="info-sub-ttl">【參加辦法】</span>
              活動期間內完成心理測驗並點擊下方按鈕後，登入註冊Oursong並追蹤職場吉娃娃的Oursong官方頁面即可參加抽獎。<br>
        
              <span class="info-sub-ttl">【抽獎公布】</span>
              2023/9/4(一)23:59前抽出幸運中獎者，並將以職場吉娃娃的Oursong官方頁面通知得獎者。<br>
        
              <span class="info-sub-ttl">【領獎辦法】</span>
              主辦單位將透過職場吉娃娃官方頁面通知，中獎者接到通知後即可按步驟點選「領取禮物」領取NFT1個，請務必在收到禮物後三日內開啟並領取禮物，逾期視為自動放棄。另外在領取NFT時，可能因短時間內交易量過大，提醒您需耐心等待至畫面顯示「完成領取」後再離開領取畫面。<br>
        
              <span class="info-sub-ttl">【注意事項】</span>
              主辦單位保有隨時修改及終止本活動之權利，如有任何變更內容或詳細注意事項將公布於本官方頁面，恕不另行通知。<br>
            </p>
          </div>
          <label class="checkbox-gp">
            <input type="checkbox" value="confirm"><span>我已閱讀並同意相關活動規則</span>
            <div class="check-and-go">
              <div class="not-allowed"></div>
              <a href="https://www.oursong.com/@GJgiwawa" target="_blank" class="collection-button" id="collection-button"></a>
            </div>
          </label>
          
        </div>
      </div>
    </div>
  </div>
  
</div>