/* home-container  START*/
.sptop_bk {
    width: 80%;
    margin: auto;
    top: 6%;
}

.first-view {
  width: 90%;
  margin: 0 auto;
  top: 22%;
  animation: moving_tb 1s linear infinite alternate .1s;
}
.button-s{
  width: 30%;
  max-width: 200px;
  min-height: 30px;
  height: auto;
  margin: 10px auto;
  top: 70%;
  cursor: pointer;
  z-index: 5;
  animation: zoom_inout .2s linear infinite alternate;
}



@media screen and (min-width: 310px) and (max-width: 821px), (height <= 700px){
  .button-s{
    top: 70%;
  }
}
/* home-container  END*/
