.form-gp{
    width: 85%;
    height: 80%;
    justify-content: space-evenly;
}
.input-gp {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10px 0;
}
.input-ttl {
    width: 30%;
    max-width: 150px;
    height: 75%;
    min-height: 40px;
    display: flex;
    z-index: 3;
    background-color: #FFF;
    border: 2px solid #000;
    border-radius: 100px;
    top: -30%;
    padding: 0.1rem 0.2rem;
}
.input-ttl > img {
    width: 75%;
    margin: auto;
}
.input-required:before {
    content: "*必填";
    position: absolute;
    right: 10%;
    bottom: 20%;
    color: #000;
    font-weight: 600;
    font-size: 0.5rem;
}
.input-gp:after {
    content: "";
    width: 30%;
    height: 75%;
    max-width: 150px;
    position: absolute;
    z-index: -1;
    background-color: rgb(195 195 195);
    padding: 10px 20px;
    border-radius: 100px;
    top: -18%;
    left: 3%;
}
.input-ctrl {
    width: 100%;
    height: 8vh;
    min-height: 50px;
    max-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 100px;
    background-color: #FFF;
    box-shadow: 6px 7px 1px rgb(195 195 195);
    padding: 0 30px;
    font-size: 1.3rem;
    text-align: center;
}
.input-ctrl > * {
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
    color: #666;
}
@keyframes select-appear {
    0% {
        opacity: 0;
        transform: scale(1,0);
    }

    100% {
        opacity: 1;
        transform: scale(1,1);
    }
}
@keyframes select-disappear {
    0% {
        opacity: 1;
        transform: scale(1,1);
    }

    100% {
        opacity: 0;
        transform: scale(1,0);        
    }
}
.select-appear {
    transform-origin: top;
    animation-name: select-appear;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.select-disappear {
    transform-origin: top;
    animation-name: select-disappear;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.choose {
    width: 100%;
    margin: 0;
    text-align: center;
    cursor: pointer;
}
.select {
    position: absolute;
    z-index: 6;
    top: 100%;
    left: 20%;
    display: none;
    list-style: none;
    width: 60%;
    margin: auto;
    padding: 0;
    border-radius: 10px;
    box-shadow: 3px 5px 9px rgb(211 211 211 / 65%);
}
.option {
    background-color: #fdfdfd;
    padding: 3% 0;
    font-size: 1.1em;
    text-align: center;
    border: none;
    color: #666;
    border-bottom: 1px solid #ccc;
}
.option:first-child {
    border-radius: 10px 10px 0 0;
}
.option:last-child {
    border: none;
    border-radius: 0 0 10px 10px;
}
.option:hover {
    background-color: #ededed;
    cursor: pointer;
}
.button-c {
    width: 30%;
    height: 8vh;
    margin: 10px auto;
    border: 0;
    background-image:url(/static/image/p2/p2_15.png) ;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
}


@media screen  and (max-width: 821px) {
    .button-c{
        height: 100vmax;
        max-height: 50px;
    }
}
@media screen and (min-width: 310px) and (max-width: 600px) and (height <= 700px)  {
    .input-ctrl {
        font-size: 0.5em;
    }
}