.main-container-item {
    width: 100%;
    height: 100vh;
    max-width: 490px;
    max-height: 932px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    overflow: hidden;
}
.info-container {
    width: 95%;
    height:95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-container:first-child {
    margin: 100vh 0 0;
}
@keyframes height0{
  0%{
    height:100vmax;
  }
  90%{
    height:100vmax;
  }
  100%{
    height:190vmax;
  }
}

@keyframes height1{
  0%{
    height:100vmax;
  }
  90%{
    height:100vmax;
  }
  100%{
    height:180vmax;
  }
}

@keyframes appear {
  0%{
    opacity: 0;
    transform: scale(0);
  }
  90%{
    opacity: 0;
    transform: scale(0);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes disappear {
  0%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes zoom_inout{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
}
@keyframes progress{
  0%{
    width: 10%;
  }
  100%{
    width: 100%;
  }
}
.result-gp {
  width: 95%;
  height: 100%;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.progress-part{
  display: flex;
  animation-name: disappear;
  animation-duration: 3s;
}
.result-part{
  opacity: 0;
  display: flex;
  animation-name: appear;
  animation-duration: 0.1s;
  animation-delay: 3.1s;
  overflow-y: hidden;
  overflow-x: hidden;
}

.result-part:hover{
    overflow-y: scroll;
    width: calc(95% + 8px);
    margin-left: 8px;
}

.p4_03 {
    width: 50%;
    margin: 0 0 20px 0;
    animation: zoom_inout .3s linear infinite alternate;
}
.progress-bar-gp {
    position: relative;
    width: 85%;
    height: 25px;
    border: 2px solid #000;
    border-radius: 50px;
    margin-top: 5%;
}
.progress-bar-item{
    background-color: #f5cfa9;
    width: 10%;
    height: 120%;
    position: absolute;
    top: -10%;
    left: 0%;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-radius: 50px;
    animation: progress 2.9s linear infinite alternate;
}
.p4_07 {
    width: 30%;
    margin: 20px 0;
    animation: moving_all .3s linear infinite alternate;
}

.result {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 8%;
    font-size: 1.8em;
    letter-spacing: 5px;
    font-weight: 800;
    color: #000;
    margin: 0 ;
}
.result span {
    color: #000;
    background: linear-gradient(180deg, transparent 50%,#f5cfa9 50%);
}

.result-img {
    width: auto;
    height: 35%;
    margin: 10px auto;
}
.result-title {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border: 2px solid #000;
    border-radius: 50px;
    padding: 5px;
    font-size: 1.6em;
    font-weight: 800;
    text-align: center;
}
.recommendation-gp {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5cfa9;
    box-shadow: 6px 6px 1px rgb(195 195 195);
    border: 2px solid #000;
    border-radius: 20px;
    padding: 5%;
}
.r-arrow {
    width: 20%;
    right: 3%;
    top: 5%;
}
.recommendation {
    width: 90%;
    margin: auto;
    font-size: 1.5em;
    font-weight: 900;
    color: #000;
}
.share-btn-gp {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
}
.share-txt {
    width: 35%;
}
.button-g {
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.FB {
    width: 9vmin;
    height: 9vmin;
    min-width: 45px;
    min-height: 45px;
    display: block;
    background-image: url(../image/p5/p5_08.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.line-it-button {
    width: 9vmin;
    height: 9vmin;
    min-width: 45px;
    min-height: 45px;
    display: block;
    background-image: url(../image/p5/p5_09.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.button-g-s{
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 50px;
}
.button-r{
    width: 30%;
    height: 100%;
    display: block;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border: none;
}
#restart-button{
    background-image: url(../image/p5/p5_11.png);
}
#save-image{
    background-image: url(../image/p5/p5_12.png);
}
#to-collect{
    background-image: url(../image/p5/p5_13.png);
}


#info-container{
    justify-content: space-evenly;
}
    
.p6_03 {
    width: 50%;
}
.p6_06 {
    width: 20%;
    right: 0;
    top: 20%;
    animation: rotate_01 1s linear infinite alternate;
}
.p6_10 {
    width: 60%;
}
.invite-u {
    width: 80%;
    margin: 0;
    font-size: 1.1em;
    text-align: center;
    font-weight: 500;
}
.join-info {
    width: 90%;
    height: 30%;
    margin: 5% 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #f5cfa9;
    box-shadow: 6px 6px 1px rgb(195 195 195);
    border: 2px solid #000;
    border-radius: 20px;
    padding: 5%;
    flex-direction: column;
    text-align: justify;
}

.join-info h3 {
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 3px;
    padding: 0 ;
    margin: 5px 0;
}

.join-info p {  
    overflow-y: auto;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.5;
    padding: 0 0 5%;
}

.info-sub-ttl{
  display: block;
  margin-top: 15px;
  font-size: 1.1em;
  font-weight: 700;
}

.checkbox-gp{
  width: 90%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]+span {
  display: inline-block;
  padding-left: 50px;
  line-height: 55px;
  background-image: url(../image/p6/p6_16.png);
  background-size: 12%;
  background-repeat: no-repeat;
  background-position: center left;
  user-select: none;
  font-size: 1.1em;
}
input[type="checkbox"]:checked+span {
  background-image: url(../image/p6/p6_18.png) ;
}

.check-and-go {
  position: relative;
  width: 50%;
  height: 70%;
  min-height: 50px;
  max-height: 70px;
  display: block;
  pointer-events: initial;
}
#collection-button{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border: none;
  background-image: url(../image/p6/p6_20.png);
}
input[type="checkbox"]:checked ~ .check-and-go #collection-button {
  background-image: url(../image/p6/p6_22.png) ;
  animation: zoom_inout .2s linear infinite alternate;
  pointer-events: initial;
  z-index: 3;
}
.not-allowed{
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: initial;
  cursor: not-allowed;
  z-index: 2;
}


@media only screen and (max-width: 1550px), (height <= 750px) {
  .recommendation{
    font-size: 1.2em;
  }
  .join-info h3{
    font-size:1.5em;
  }
}

@media only screen and (max-width: 900px), (height <= 700px) {
  .result{
    font-size: 1.5em;
  }
  .result-title{
    font-size: 1.5em;
  }
  .recommendation{
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 600px), (height <= 700px) {
  .result{
    font-size: 1.2em;
  }
  .result-title{
    font-size: 1em;
  }
  .recommendation{
    font-size: 1em;
  }
}
@media only screen and (max-width: 500px), (height <= 700px) {
  .result{
    font-size: 1.2em;
  }
  .result-title{
    font-size: 1em;
  }
  .recommendation{
    font-size: 1em;
  }
  .p6_06{
    top: 18%;
  }
}


@media screen and (min-width: 491px), (height <= 700px){
  .p6_06{
    display: none;
  }
}
@media screen and (max-width: 491px), (height <= 700px){
  .join-info h3{  
    font-size: 1.5em;
  }
  .join-info p {
    font-size: 1em;
  }
}

@media screen and (max-width: 350px), (height <= 700px){
  .join-info h3{  
    font-size: 1.2em;
  }

  .recommendation,.invite-u,.join-info p,input[type="checkbox"]+span{
    font-size: 0.8em;
    letter-spacing: 1px;
  }
  .p6_06{
    top: 15%;
  }
}

@media screen and (min-width: 310px) and (max-width: 821px), (height <= 700px){
  .result-main {
    height: 190vmax;
    animation-name: height0;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  #result-container{
    max-height:unset;
    height: auto;
  }
  .main-container-item{
    max-height:unset;
    height: 180vmax;
    overflow: hidden;
    animation-name: height1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  .result-part{
    height: 180vmax;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .result-part:hover{
    overflow-y: hidden;
    width: 95% ;
    margin-left: 0;
  }
  .info-container{
    height: 90vmax;
  }
  .info-container:first-child {
      margin:0 0 0;
  }
}
