@keyframes nextQuestion {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

#question-container{
  flex-direction: column;
  justify-content: center;
  align-content: center;

}

.nextQuestion{
    animation-name: nextQuestion;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.time-line-gp {
    position: relative;
    width: 85%;
    height: 20px;
    border: 2px solid #000;
    border-radius: 50px;
    margin-top: 5%;
}
.time-line {
    background-color: #f5cfa9;
    width: 10%;
    height: 125%;
    position: absolute;
    top: -12.5%;
    left: 0%;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-radius: 50px;
}
.question {
    width: 85%;
    height: 60vh;
    max-height: 510px;
    margin-top: 5%;
    background-image: url(../image/p3/p3_03.png);
    background-size: 100% ;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-title.question > img {
    width: 35%;
}
.sub-title.question > p {
    display: block;
    height: 25%;
    width: 70%;
    font-size: 1.8rem;
    color: #000;
    font-weight: 900;
    text-align: justify;
}
.sub-title.question > p > span {
    background: linear-gradient(180deg, transparent 65%, #f5cfa9 50%);
}
.choices {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ans {
  list-style-type: none;
  width: 80%;
}

.ans-btn {
  width: 100%;
  height: 8vh;
  max-height: 60px;
  margin: 10px auto;
  border: 2px solid #000;
  border-radius: 100px;
  background-color: #FFF;
  color: #000;
  font-size: 1.2em;
  font-weight: 900;
  box-shadow: 1px 6px 1px rgba(0,0,0);
}

@media screen and (max-width: 1537px) {
  .sub-title.question > p{
    font-size: 1.5em;
  }
}

@media screen and (min-width: 310px) and (max-width: 600px) and (height >= 700px){
  .sub-title.question > p{
    font-size: 1.4em;
  }
  .ans-btn {
    height: 8vmax;
    min-height: 45px;
    font-size: 1.2em;
  }
}
@media screen and (min-width: 310px) and (max-width: 600px), (height <= 700px){
  .ans{
    width: 90%;
  }
  .question{
    height: 60vmax;
    max-height: 520px;
  }
  .sub-title.question > p{
    font-size: 1.3em;
  }
  .ans-btn {
    height: 8vmax;
    min-height: 25px;
    font-size: 1em;
  }
}
